version: "3.4"

services:
    serverroom-web:
        image: tpiechocki/si_175690
        ports:
            - 17569:80
        networks:
            - network
    rabbitmq:
        image: rabbitmq:3-management-alpine
        environment:
            RABBITMQ_ERLANG_COOKIE: ${RABBITMQ_ERLANG_COOKIE}
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
        networks:
            - network
networks:
    network: {}
