services:
    serverroom-web:
        container_name: serverroom-web
        image: local/serverroom-web
        ports:
            - 8080:80
        networks:
            - network
    serverroom-api:
        container_name: serverroom-api
        image: local/serverroom-api
        ports:
            - 8081:81
        networks:
            - network
    rabbitmq:
        image: rabbitmq:3-management-alpine
        container_name: rabbitmq
        volumes:
            - ./.docker/rabbitmq/etc/:/etc/rabbitmq/
            - ./.docker/rabbitmq/data/:/var/lib/rabbitmq/
            - ./.docker/rabbitmq/logs/:/var/log/rabbitmq/
        environment:
            RABBITMQ_ERLANG_COOKIE: ${RABBITMQ_ERLANG_COOKIE}
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
        ports:
            - 5672:5672
            - 15672:15672
        networks:
            - network
    mongodb:
        # ATM:
        # I am not sure what I am doing - this will create image of mongodb(?)
        # Taken from https://www.bmc.com/blogs/mongodb-docker-container/
        # Varables bellow do not nessesarily have right values yet.
        # Image taken from https://hub.docker.com/_/mongo
        image : mongo:5.0
        container_name: mongodb
        environment:
        - PUID=1000
        - PGID=1000
        volumes:
        # To save DB on host computer and not inside the container
        # (?) container path must by /data/db (?)
        - ./MongoDB:/data/db
        ports:
        - 27017:27017
        restart: unless-stopped
networks:
  network: {}