<title>@ViewData["Title"] - Sensor Chart</title>  
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  
  
<div id="chart_div"></div>  
<div id="chart_div_2"></div>  
<script type="text/javascript">  
  
    google.charts.load('current', {  
        packages: ['corechart', 'bar']  
    });  
    google.charts.setOnLoadCallback(LoadDataTemperature);  

    function LoadDataTemperature() {  
        $.ajax({  

            url: 'SensorChart/SensorChartTemperature',  
            dataType: "json",  
            type: "GET",  
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message);  
            },  
            success: function(data) {  
                SensorChartTemperature(data);  
                return false;  
            }  
        });  
        return false;  
    }  
    google.charts.load('current', {  
            packages: ['corechart', 'bar']  
        });  
    google.charts.setOnLoadCallback(LoadDataVoltage);  
      
        function LoadDataVoltage() {  
            $.ajax({  
      
                url: 'SensorChart/SensorChartVoltage',  
                dataType: "json",  
                type: "GET",  
                error: function(xhr, status, error) {  
                    var err = eval("(" + xhr.responseText + ")");  
                    toastr.error(err.message);  
                },  
                success: function(data) {  
                    SensorChartVoltage(data);  
                    return false;  
                }  
            });  
            return false;  
        }  
    
  
    function SensorChartTemperature(data) {  
        var dataArray = [  
            ['Date', 'Value']  
        ];  
        $.each(data, function(i, item) {  
            dataArray.push([item.date, item.value]);  
        });  
        var data = google.visualization.arrayToDataTable(dataArray);  
        var options = {  
            title: 'Sensor Temperature ',  
            chartArea: {  
                width: '50%'  
            },  
            colors: [ '#7b1fa2'],  
            hAxis: {  
                title: 'Date',  
                minValue: 0  
            },  
            vAxis: {  
                title: 'Value'  
            }  
        };  
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));  

        chart.draw(data, options);  
        return false;  
    }  
    function SensorChartVoltage(data) {  
            var dataArray = [  
                ['Date', 'Value']  
            ];  
            $.each(data, function(i, item) {  
                dataArray.push([item.date, item.value]);  
            });  
            var data = google.visualization.arrayToDataTable(dataArray);  
            var options = {  
                title: 'Sensor Voltage ',  
                chartArea: {  
                    width: '50%'  
                },  
                colors: ['#b0120a'],  
                hAxis: {  
                    title: 'Date',  
                    minValue: 0  
                },  
                vAxis: {  
                    title: 'Value'  
                }  
            };  
            var chart = new google.visualization.LineChart(document.getElementById('chart_div_2'));  
      
            chart.draw(data, options);  
            return false;  
        }  
</script>