name: PR

on:
  pull_request:
    branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build and push Web
        id: docker_build_web
        uses: docker/build-push-action@v2
        with: 
          file: ServerRoomMonitoring.Web.Dockerfile
      -
        name: Build and push API
        id: docker_build_api
        uses: docker/build-push-action@v2
        with: 
          file: ServerRoomMonitoring.Api.Dockerfile

