name: CI

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push Web
        id: docker_build_web
        uses: docker/build-push-action@v2
        with: 
          file: ServerRoomMonitoring.Web.Dockerfile
          push: true
          tags: tpiechocki/si_175690:latest
      -
        name: Build and push API
        id: docker_build_api
        uses: docker/build-push-action@v2
        with: 
          file: ServerRoomMonitoring.Api.Dockerfile
          push: true
          tags: tpiechocki/si_175690_api:latest

